{% extends "base.html" %}

{% load static %}
{% block headressources %}
<link rel="stylesheet" href="{% static 'dist/examples/css/index.css' %}">
<script type="module" src="{% static 'dist/examples/js/index.js' %}"></script>
{% endblock %}

{% block content %}
<header class="flex gap-5 py-5">
    <a href="{% url 'examples:index' %}">
        <h1>Examples</h1>
    </a>
</header>
<main>
    <dl class="grid grid-cols-[auto_1fr] gap-4">
        {% for example in examples %}
        <dt>
            <a class="link" href="{% url example.full_name %}">{{ example.name }}</a>
        </dt>
        <dd>{{ example.description }}</dd>
        {% endfor %}
    </dl>
</main>
{% endblock %}
