# Node.js
node_modules/

# Python
__pycache__/
site/
.ropeproject/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Project
.env
