{% extends "examples/base.html" %}

{% block example_description %}
{% load example_helpers %}
{% filter markdown %}
# Pagination
More complex example demonstrating pagination

Same `ShowMoreView` is utilized for initial and ajax requests.
`examples/show-more/list.html` is used in main template and re-used in the ajax endpoint with some changes depending on is_ajax context attribute.

View transitions are not a part of ajt. The example showcases how ajt allows you to implement view transitions in your preferred way.

{% endfilter %}
{% endblock %}

{% block example %}
<style nonce="{{ csp_nonce }}">
.product-item {
  view-transition-class: product-item;
}

::view-transition-image-pair(.product-item),
::view-transition-image-pair(product-list) {
  isolation: auto;
}

::view-transition-old(.product-item),
::view-transition-old(btn) {
  animation: none;
  display: none;
}

::view-transition-new(.product-item),
::view-transition-new(btn) {
  animation: none;
}

::view-transition-group(.product-item),
::view-transition-group(btnn) {
  animation: none;
}
</style>
{% include "examples/show-more/list.html" %}
<script type="module" nonce="{{ csp_nonce }}">
let lastElement;
let lastPosition;
const productList = document.getElementById('product-list')
document.addEventListener('ajtBeforeDomChange', (event) => {
  const triggerEl = event.detail?.origin.target.closest('[data-app-direction]')
  if (triggerEl?.dataset.appDirection === 'up') {
    lastElement = productList.querySelector('li')
    lastPosition = lastElement.getBoundingClientRect().top
  }
})
document.addEventListener('ajtAfterDomChange', (event) => {
  if (lastElement) {
    window.scrollBy(0, lastElement.getBoundingClientRect().top - lastPosition)
    lastElement = null
  }
})

let productItemCounter = 0
window.ajtElementRemovedHandlers = window.ajtElementRemovedHandlers || []
window.ajtElementRemovedHandlers.push((el) => {
  if (el.matches?.('.btn')) {
    el.style.viewTransitionName = 'btn'
  }
})

window.ajtElementPreAddHandlers = window.ajtElementPreAddHandlers || []
window.ajtElementPreAddHandlers.push((el) => {
  if (el.matches?.('.product-item')) {
    el.style.viewTransitionName = `product-item-${productItemCounter}`
    productItemCounter += 1;
  } else if (el.matches?.('.btn')) {
    el.style.viewTransitionName = 'btn'
  }
})

let lastClick;
document.addEventListener("click", (event) => (lastClick = event));

document.addEventListener('ajtTransitionReady', (event) => {
  const columns = 3
  document.querySelectorAll('.product-item').forEach((el, index) => {
    document.documentElement.animate(
      [
        {
          transform: 'translateY(-50px) scale(1.1)',
          opacity: 0
        },
        {
          transform: 'translateY(0px) scale(1)',
          opacity: 1
        },
      ], {
        duration: 300,
        delay: Math.floor(index / columns) * 100 + (index % columns * 50),
        easing: 'ease-in-out',
        fill: 'both',
        pseudoElement: `::view-transition-new(${el.style.viewTransitionName})`,
      }
    )
    el.classList.remove('product-item')
    el.style.viewTransitionName = null
  })
  document.querySelectorAll('.btn').forEach((el) => {
    el.style.viewTransitionName = null
  })
})

</script>
{% endblock %}
