<div class="flex flex-col gap-7 items-center max-w-xl">
  {% if page_obj.has_previous %}
  <a id="show-less"
    class="link"
    href="{% url 'examples:show-more:Show more' %}{% querystring page=page_obj.previous_page_number direction='up'%}"
    data-ajt-trigger="click"
    data-ajt-mode="replace"
  ><span>Show more</span></a>
  {% elif is_ajax %}
  <div id="show-less" data-ajt-mode="remove"></div>
  {% endif %}
  <ul id="product-list" class="grid grid-cols-3 gap-4" data-ajt-mode="{{ down|yesno:'appendContent,prependContent'}}">
    {% for product in page_obj %}
    <li class="flex flex-col items-center">
      <img class="bg-ajt-ui-bg"
        src="{{ product.image.url }}" width="{{ product.image.width }}" height="{{ product.image.height }}" />
      <span class="p-4">{{ product.name }}</span>
    </li>
    {% endfor %}
    <script type="module" nonce="{{ csp_nonce }}">
      window.history.replaceState(null, '', '{% url 'examples:show-more:Show more' %}{% querystring direction=None%}')
    </script>
  </ul>
  {% if page_obj.has_next %}
  <a id="show-more"
    class="link"
    href="{% url 'examples:show-more:Show more' %}{% querystring page=page_obj.next_page_number direction='down'%}"
    data-ajt-trigger="click"
    data-ajt-mode="replace"
    >Show more</a>
  {% elif is_ajax %}
  <div id="show-more" data-ajt-mode="remove"></div>
  {% endif %}
</div>
