@import "tailwindcss" source("../../templates");
@source "../../apps";
@plugin "@tailwindcss/typography";


@theme inline {
  --color-ui-bg: var(--ajt-color-ui-bg);
  --color-ui-modal-bg: var(--ajt-color-ui-modal-bg);
  --color-ui-error-bg: var(--ajt-color-ui-error-bg);
  --color-ui-primary: var(--ajt-color-ui-primary);
  --color-ui-error: var(--ajt-color-ui-error);
  --color-ui-ring-hover: var(--ajt-color-ui-ring-hover);
  --radius-ui-md: var(--radius-lg);
}

:root {
  --ajt-color-ui-bg: var(--color-gray-100);
  --ajt-color-ui-error-bg: var(--color-red-100);
  --ajt-color-ui-modal-bg: var(--color-gray-200);
  --ajt-color-ui-primary: var(--color-blue-400);
  --ajt-color-ui-error: var(--color-red-400);
  --ajt-color-ui-ring-hover: var(--color-blue-600);
  @variant dark {
    @apply bg-gray-950;
    --ajt-color-ui-bg: var(--color-gray-600);
    --ajt-color-ui-error-bg: var(--color-rose-900);
    --ajt-color-ui-modal-bg: var(--color-gray-800);
    --ajt-color-ui-primary: var(--color-blue-600);
    --ajt-color-ui-error: var(--color-rose-600);
    --ajt-color-ui-ring-hover: var(--color-blue-400);
  }

  view-transition-name: none;
}

::view-transition {
  pointer-events: none;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .link {
    @apply underline text-blue-400;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility grid-cols-auto-fill-* {
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--spacing) * --value(number)), auto));
  grid-template-columns: repeat(auto-fill, minmax(--value(--container-*, [length]), auto));
}

@custom-variant show-label {
  &:is(:placeholder-shown:not(:focus):not(:autofill)) {
    @slot;
  }
}

@custom-variant show-select-label {
  &:is(:not(:has(:not(.hidden):checked))) {
    @slot;
  }
}
