<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Security-Policy"
          content="script-src 'nonce-{{nonce}}'">
    <title>{{ title }}</title>
    {% block head %}
    {% endblock %}
    <script nonce="{{nonce}}">
      window.nonce = '{{nonce}}'
    </script>
    <script nonce="{{nonce}}">
      if (!window.SubmitEvent.prototype.hasOwnProperty('submitter')) { // eslint-disable-line no-prototype-builtins
        let lastClicked
        document.addEventListener('click', function (event) {
          lastClicked = !event.target
            ? null
            : event.target.matches('button, input[type=submit], input[type=image]')
              ? event.target
              : event.target.closest('button, input[type=button], input[type=image]')
        }, true)
        document.addEventListener('submit', function (event) {
          const form = event.target
          for (const el of [document.activeElement, lastClicked]) {
            if (el && el.form === form && el.matches('button, input[type=submit], input[type=image]')) {
              Object.defineProperty(event, 'submitter', {
                value: el,
                writable: false
              })
              break
            }
          }
        }, true)
      }
    </script>
    <script type="module" nonce="{{nonce}}">
      window.ajt = function (urlOrEvent) {
        if (typeof urlOrEvent.preventDefault === 'function') {
          urlOrEvent.preventDefault()
        }
        import('/lib/index.js')
          .then(module => module.default(urlOrEvent))
          .catch(err => {
            console.error(err)
          })
      }
      function ajtListener (event) {
        const selector = `[data-ajt-event="${event.type}"]`
        const ajtElement = event.target.matches(selector)
          ? event.target
          : event.target.closest(selector)
        if (ajtElement) {
          ajt(event)
        }
      }
      window.addEventListener('submit', ajtListener)
      window.addEventListener('click', ajtListener)
    </script>
    <script type="module" nonce="{{nonce}}">
      function initNodes () {
        var nodes = document.querySelectorAll('*[data-init]')
        for (var i = 0, len = nodes.length; i < len; i++) {
          var node = nodes[i]
          var dataset = node.dataset
          if (dataset && dataset.init) {
            const moduleUrl = dataset.init
            delete dataset.init
            import(moduleUrl).then(module => module.default(node))
          }
        }
      }

      function start () {
        var observer = new MutationObserver(function (mutations, observer) {
          for (var i = 0, len = mutations.length; i < len; i++) {
            if (mutations[i].type === 'childList') {
              initNodes()
              break
            }
          }
        })
        observer.observe(document, { childList: true, subtree: true })

        initNodes()
      }

      if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', function (event) {
          setTimeout(start, 0)
        })
      } else {
        setTimeout(start, 0)
      }
    </script>
  </head>
  <body>
    {% block main %}{% endblock %}
    <footer>
      <a href="{{ url_for('index') }}">back</a>
    </footer>
  </body>
</html>
