{% extends "examples/base.html" %}

{% block example_description %}
{% load example_helpers %}
{% filter markdown %}
# Address book
More complex example demonstrating forms
{% endfilter %}
{% endblock %}

{% block example %}
<style nonce="{{ csp_nonce }}">
.error-transitionn {
  view-transition-name: match-element;
}

:active-view-transition-type(update-list) {
  .address {
    view-transition-class: address;
    view-transition-name: match-element;
  }
}

:active-view-transition-type(delete-address),
:active-view-transition-type(restore-address) {
  .address {
    view-transition-class: address;
  }
  &::view-transition-group(.address) {
    animation: none;
  }
  &::view-transition-image-pair(.address) {
    perspective: 800px;
    transform-style: preserve-3d;
  }
  &::view-transition-old(.address),
  &::view-transition-new(.address) {
    backface-visibility: hidden;
  }
}
:active-view-transition-type(delete-address) {
  &::view-transition-old(.address) {
    animation: 0.3s ease-in-out both flip;
  }
  &::view-transition-new(.address) {
    animation: 0.3s ease-in-out both flip-back;
  }
}
:active-view-transition-type(restore-address) {
  &::view-transition-old(.address) {
    animation: 0.3s ease-in-out reverse both flip-back;
  }
  &::view-transition-new(.address) {
    animation: 0.3s ease-in-out reverse both flip;
  }
}
:active-view-transition-type(modal) {
  .modal {
    view-transition-class: modal;
    view-transition-name: match-element;
  }
  .modal::backdrop {
    view-transition-class: modal-backdrop;
    view-transition-name: match-element;
  }
}

::view-transition-group(zoom-in-dialog) {
}
::view-transition-old(zoom-in-dialog),
::view-transition-new(zoom-in-dialog) {
  width: 100%;
  height: 100%
}

::view-transition-group(.modal) {
}
::view-transition-old(.modal) {
  animation: 0.3s ease-in-out both close-modal;
}
::view-transition-new(.modal) {
  animation: 0.3s ease-in-out both open-modal;
}

@keyframes open-modal {
  from {
    opacity: 0;
    transform: translateY(80px) scale(1);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes close-modal {
  from {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-80px) scale(1);
  }
}

@keyframes flip {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(180deg);
  }
}

@keyframes flip-back {
  from {
    transform: rotateX(-180deg);
  }
  to {
    transform: rotateX(0);
  }
}
</style>
<script type="module" nonce="{{ csp_nonce }}">
  window.ajtContentHandlers = Object.assign({
    dialog(dialog, handleRemoveContent, handleContentAdded, handleAddContent) {
      handleAddContent(dialog)
      return () => {
        document.body.append(dialog)
      }
    }
  }, window.ajtContentHandlers)

  function openDialog(dialog, triggerEl) {
    if (!document.startViewTransition) {
      dialog.showModal()
    } else {
      if (triggerEl) {
        triggerEl.style.viewTransitionName = 'zoom-in-dialog'
        dialog.trigger = triggerEl
      }
      document.startViewTransition({
        types:['modal'],
        update() {
          if (triggerEl) {
            triggerEl.style.opacity = 0
            triggerEl.style.viewTransitionName = null
            dialog.style.viewTransitionName = 'zoom-in-dialog'
          }
          dialog.showModal()
        }
      })
    }
    dialog.addEventListener('cancel', (event) => {
      event.preventDefault()
      closeDialog(event.target)
    })
    dialog.addEventListener('click', (event) => {
      const closeBtn = event.target.closest('[data-role=close-dialog-btn]')
      if (closeBtn && dialog.contains(closeBtn)) {
        event.preventDefault()
        closeDialog(dialog)
      }
    })
  }

  function closeDialog(dialog) {
    if (!document.startViewTransition) {
      return new Promise((resolve, reject) => {
        dialog.remove()
        resolve()
      })
    } else {
      return document.startViewTransition({
        types:['modal'],
        update: () => {
          if (dialog.trigger) {
            dialog.trigger.style.opacity = null
            dialog.trigger.style.viewTransitionName = 'zoom-in-dialog'
            dialog.style.viewTransitionName = null
          }
          dialog.remove()
        }
      }).finished.then(() => {
          if (dialog.trigger) {
            dialog.trigger.style.viewTransitionName = null
          }
        })
    }
  }
  window.closeDialog = closeDialog

  document.addEventListener('ajtDomProcess', (event) => {
    // whole roundtrip here?
    const domProcess = event.detail

    domProcess.addEventListener('removeElement', (event) => {
      // elements to be removed from dom
      const el = event.detail
      if (el.matches?.('.address')) {
        el.style.viewTransitionName = `${el.id}`
        el.dataset.appClearTransitionName = true
      }
    })
    domProcess.addEventListener('addElement', (event) => {
      // elements to be added to dom
      const el = event.detail
      if (el.matches?.('.address')) {
        el.style.viewTransitionName = `${el.id}`
        el.dataset.appClearTransitionName = true
      } else if (el.matches?.('[data-app-init-dialog]')) {
        const triggerEl = event.target.data.origin.target?.closest('[data-app-dialog-trigger]')
        domProcess.finished.then(() => {
          openDialog(el, triggerEl)
        })
      }
    })
    domProcess.addEventListener('beforeUpdate', (event) => {
      // before transition or update
    })
    domProcess.addEventListener('transition', (event) => {
      // transition
      const transition = event.detail
      transition.finished.then(() => {
        document.querySelectorAll('[data-app-clear-transition-name]').forEach((el) => {
          el.style.viewTransitionName = null
          delete el.dataset.appClearTransitionName
        })
      })
    })
    domProcess.addEventListener('beforeApplyDomChanges', (event) => {
      // inside transition callback before dom changes are applied
    })
    domProcess.addEventListener('afterApplyDomChanges', (event) => {
      // inside transition callback after dom changes are applied
    })
    domProcess.addEventListener('afterUpdate', (event) => {
      // after transition or update
    })
  })

</script>
<div class="flex flex-col gap-7">
  {% include 'examples/messages.html' %}
  <a class="flex flex-col justify-center items-center h-10 px-4 border-2 border-ui-primary rounded-ui-md bg-ui-bg w-fit"
    href="{% url 'examples:addresses:create-new' %}"
    data-ajt-trigger="click"
  >new address</a>
  {% include 'examples/addresses/address_list.html' %}
</div>
{% endblock %}
