{% extends "examples/base.html" %}

{% block example_description %}
{% load example_helpers %}
{% filter markdown %}
# Address book
More complex example demonstrating forms
{% endfilter %}
{% endblock %}

{% block example %}
<style nonce="{{ csp_nonce }}">

:active-view-transition-type(update-list) {
  .address {
    view-transition-class: address;
    view-transition-name: match-element;
  }
}
:active-view-transition-type(new-address) {
  &::view-transition-group(open-in-dialog),
  &::view-transition-old(open-in-dialog),
  &::view-transition-new(open-in-dialog) {
    animation-delay: 0.1s;
  }
}

::view-transition-old(open-in-dialog),
::view-transition-new(open-in-dialog) {
  width: 100%;
  height: 100%;
}

::view-transition-group(restore-address),
::view-transition-group(delete-address) {
  animation: none;
}
::view-transition-image-pair(restore-address),
::view-transition-image-pair(delete-address) {
  perspective: 800px;
  transform-style: preserve-3d;
}

::view-transition-old(restore-address),
::view-transition-new(restore-address),
::view-transition-old(delete-address),
::view-transition-new(delete-address) {
  backface-visibility: hidden;
}
::view-transition-old(delete-address) {
  animation: 0.3s ease-in-out both flip;
}
::view-transition-new(delete-address) {
  animation: 0.3s ease-in-out both flip-back;
}

::view-transition-old(restore-address) {
  animation: 0.3s ease-in-out reverse both flip-back;
}
::view-transition-new(restore-address) {
  animation: 0.3s ease-in-out reverse both flip;
}

::view-transition-group(close-dialog),
::view-transition-group(open-dialog) {
  animation: none;
}
::view-transition-old(close-dialog) {
  animation: 0.3s ease-in-out both close-modal;
}
::view-transition-new(open-dialog) {
  animation: 0.3s ease-in-out both open-modal;
}

@keyframes open-modal {
  from {
    opacity: 0;
    translate: 0 80px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes close-modal {
  from {
    opacity: 1;
    translate: 0 0;
  }
  to {
    opacity: 0;
    translate: 0 -80px;
  }
}

@keyframes flip {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(180deg);
  }
}

@keyframes flip-back {
  from {
    transform: rotateX(-180deg);
  }
  to {
    transform: rotateX(0);
  }
}
</style>
<script type="module" nonce="{{ csp_nonce }}">
  function openDialog(dialog) {
    dialog.addEventListener('cancel', (event) => {
      event.preventDefault()
      closeDialog(event.target)
    })
    dialog.addEventListener('click', (event) => {
      const closeBtn = event.target.closest('[data-role=close-dialog-btn]')
      if (closeBtn && dialog.contains(closeBtn)) {
        event.preventDefault()
        closeDialog(dialog)
      }
    })
    dialog[dialog.dataset.appDialogOpen]()
  }

  function closeDialog(el) {
    if (el.dataset.appViewTransitionName) {
      el.style.viewTransitionName = el.dataset.appViewTransitionName
      // this is a fix for iOS, because of course there is a fix for iOS. If the name of the transition stays the same, the transition is cached or whatever, the -old animation won't play and the -new animation won't play when opening dialog second time
      if (el.style.viewTransitionName === 'open-dialog') {
        el.style.viewTransitionName = 'close-dialog'
      }
      let fromEl
      document.startViewTransition(() => {
        if (el.dataset.appViewTransitionFrom) {
          fromEl = document.getElementById(el.dataset.appViewTransitionFrom)
          if (fromEl) {
            fromEl.style.viewTransitionName = el.dataset.appViewTransitionName
            fromEl.style.opacity = null
          }
        }
        el.remove()
      }).finished.then(() => {
          if (fromEl) {
            fromEl.style.viewTransitionName = null
          }
      })
    }
  }
  window.closeDialog = closeDialog

  document.addEventListener('ajtDomProcess', (event) => {
    const domProcess = event.detail

    domProcess.addEventListener('addElement', (event) => {
      const el = event.detail
      if (el.dataset?.appViewTransitionName) {
        el.style.viewTransitionName = el.dataset.appViewTransitionName
        el.dataset.appClearTransitionName = true

        if (el.dataset.appViewTransitionFrom) {
          const fromEl = document.getElementById(el.dataset.appViewTransitionFrom)
          if (fromEl) {
            fromEl.style.viewTransitionName = el.dataset.appViewTransitionName
            domProcess.addEventListener('afterApplyDomChanges', () => {
              fromEl.style.opacity = 0
              fromEl.style.viewTransitionName = null
            })
          }
        }
      }
      if (el.dataset?.appDialogOpen) {
        domProcess.addEventListener('afterApplyDomChanges', () => {
          openDialog(el)
        })
      }
    })
    domProcess.addEventListener('afterUpdate', (event) => {
      document.querySelectorAll('[data-app-clear-transition-name]').forEach((el) => {
        console.log('clear', el)
        el.style.viewTransitionName = null
        delete el.dataset.appClearTransitionName
      })
    })
  })

  function revalidateForm(event) {
    const form = event.target.form
    if (form) {
      const validateInput = form.elements['validate']
      if (validateInput) {
        validateInput.click()
      }
    }
  }
  document.addEventListener('input', revalidateForm)
</script>
<div class="flex flex-col gap-7">
  {% include 'examples/messages.html' %}
  <a class="flex flex-col justify-center items-center h-10 px-4 border-2 border-ui-primary rounded-ui-md bg-ui-bg w-fit"
    href="{% url 'examples:addresses:create-new' %}"
    data-via-ajt
  >new address</a>
  {% include 'examples/addresses/address_list.html' %}
</div>
{% endblock %}
