{% extends "examples/base.html" %}

{% block example_description %}
{% load example_helpers %}
{% filter markdown %}
# Pagination
More complex example demonstrating pagination

Same `ShowMoreView` is utilized for initial and ajax requests.
`examples/show-more/list.html` is used in main template and re-used in the ajax endpoint with some changes depending on is_ajt context attribute.

View transitions are not a part of ajt. The example showcases how ajt allows you to implement view transitions in your preferred way.

{% endfilter %}
{% endblock %}

{% block example %}
<style nonce="{{ csp_nonce }}">
.product-item {
  view-transition-class: product-item;
}

::view-transition-image-pair(.product-item),
::view-transition-image-pair(product-list) {
  isolation: auto;
}

::view-transition-old(.product-item),
::view-transition-old(btn) {
  animation: none;
  display: none;
}

::view-transition-new(.product-item),
::view-transition-new(btn) {
  animation: none;
}

::view-transition-group(.product-item),
::view-transition-group(btnn) {
  animation: none;
}
</style>
{% include "examples/show-more/list.html" %}
<script type="module" nonce="{{ csp_nonce }}">
  const productList = document.getElementById('product-list')
  let productItemCounter = 0
  let lastElement;
  let lastPosition;

  window.storeListPosition = function () {
    lastElement = productList.querySelector('li')
    lastPosition = lastElement.getBoundingClientRect().top
  }

  window.restoreListPosition = function () {
    if (lastElement) {
      window.scrollBy(0, lastElement.getBoundingClientRect().top - lastPosition)
      lastElement = null
    }
  }
</script>
{% endblock %}
