{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('todo_mvc.static', filename='todomvc-common/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('todo_mvc.static', filename='todomvc-app-css/index.css') }}">
{% endblock %}

{% block main %}
  <section id="todoapp" class="todoapp" data-ajt-mode="replaceContent">
    <header class="header">
      <h1>todos</h1>
      {% include 'todo_mvc_form.html' %}
      {{ todo_form.text(class='new-todo', autofocus=True, placeholder='What needs to be done?', form='todoForm') }}
    </header>
    {% if todos %}
      {% include 'todo_mvc_main.html' %}
      {% include 'todo_mvc_footer.html' %}
    {% endif %}
  </section>
  <footer class="info">
    <p>Double-click to edit a todo</p>
  </footer>
{% endblock %}
