<section id="todoMain"
         class="main"
         data-ajt-mode="replaceContent"
         data-init="{{ url_for('.components', filename='todo-list.js') }}"
  >
  <form method="post"
        data-ajt-event="submit"
        action="{{ url_for('.toggle_all', state=state) }}">
    <input type="submit">
    <input id="toggle-all"
           class="toggle-all"
           type="checkbox"
           name="toggle"
           {% if toggle %}checked{% endif %}>
    <label for="toggle-all">Mark all as complete</label>
  </form>
  <ul id="todoList" class="todo-list" data-ajt-mode="replaceContent">
    {% for todo in todos|todo_state(state) %}
      {% include 'todo_mvc_item.html' %}
    {% endfor %}
  </ul>
</section>
