<section id="todoMain" class="main" data-ajt-mode="replaceContent">
  <form method="post"
        onsubmit="ajt(event)"
        action="{{ url_for('.toggle_all', state=state) }}">
    <input type="submit" style="display: none;">
    <input id="toggle-all"
           class="toggle-all"
           type="checkbox"
           name="toggle"
           onchange="this.previousElementSibling.click()"
           {% if toggle %}checked{% endif %}>
    <label for="toggle-all">Mark all as complete</label>
  </form>
  <ul id="todoList" class="todo-list" data-ajt-mode="replaceContent">
    {% for todo in todos|todo_state(state) %}
      {% include 'todo_mvc_item.html' %}
    {% endfor %}
  </ul>
</section>
