<footer id="todoFooter" class="footer" data-ajt-mode="replaceContent">
  {% include 'todo_mvc_footer_count.html' %}
  <ul class="filters">
    <li>
      <a class="{% if not state %}selected{% endif %}"
         data-ajt-event="click"
         href="{{ url_for('.filter') }}">All</a>
    </li>
    <li>
      <a class="{% if state == 'active' %}selected{% endif %}"
         data-ajt-event="click"
         href="{{ url_for('.filter', state='active') }}">Active</a>
    </li>
    <li>
      <a class="{% if state == 'completed' %}selected{% endif %}"
         data-ajt-event="click"
         href="{{ url_for('.filter', state='completed') }}">Completed</a>
    </li>
  </ul>
  {% if todos|selectattr('completed', 'true')|list|length > 0 %}
    <form action="{{ url_for('.clear', state=state) }}" method="post" data-ajt-event="submit">
      <button class="clear-completed">Clear completed</button>
    </form>
  {% endif %}
</footer>
